@model IEnumerable<BTLWebVanChuyen.Models.Area>
@{
    ViewData["Title"] = "Quản lý khu vực";
}

<h2>@ViewData["Title"]</h2>

<p>
    <a class="btn btn-primary" asp-action="Create">Thêm khu vực mới</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Area Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var area in Model)
        {
            <tr>
                <td>@area.AreaName</td>
                <td>
                    <a class="btn btn-sm btn-info" asp-action="Edit" asp-route-id="@area.AreaId">Sửa</a>
                    <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@area.AreaId">Xóa</a>
                </td>
            </tr>
        }
    </tbody>
</table>
